# RSpec
snippet descc
described_class
endsnippet

snippet cha
change(${1}, ${2::count}).by(${3:1})
endsnippet

# Capybara
snippet cli
click_link '${1}'
endsnippet

snippet cbu
click_butoon '${1}'
endsnippet

snippet fil
fill_in '${1}', with: '${2}'
endsnippet

snippet econ
expect(page).to have_content '${1}'
endsnippet

# Shoulda-matchers
snippet ivav
it { expect(${1}) allow_value(${2}).for(:${3}) }
endsnippet

snippet ivp
it { expect(${1}).to validate_presence_of(:${2}) }
endsnippet
