snippet plug
[[plugins]]
repo = '${1}'
endsnippet

snippet dep
depends = '${1}'
endsnippet

snippet one
on_event = '${1}'
endsnippet

snippet onf
on_ft = '${1}'
endsnippet

snippet hoa
hook_add = '''
  ${1}
'''
endsnippet

snippet hos
hook_source = '''
  ${1}
'''
endsnippet
